# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Large image folders – IGNORED from Git
public/images/
